*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body {

  background: linear-gradient( rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234), rgb(173, 169, 150));
  
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #222;
}

a {
  color: inherit;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

.flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

#title {
  text-align: center;
  margin: 0;
}

p {
  text-align: center;
  font-weight: 500;
}

header {
  padding-top: 35px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  color: #222;
  background: white;
  margin-bottom: 50px;
}

header h1 {
  height: auto;
  font-weight: 500;
}

h1, h2 {
  height: 50px;
  text-transform: uppercase;
  font-weight: 300;
  
}

.left h2 {
  text-align: center;
}

.mid h2 {
  text-align: center;
}

.right h2 {
  text-align: center;
}

button {
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  border: 0.1rem solid #222;;
  margin: 2rem 0;
  border-radius:0.12rem;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#222;
  text-align: center;
  transition: all 0.2s;
  background: transparent;
}

button:hover {
  color: white;
  background: #222;
}

#file-list {
  list-style: none;
}

.mid {
  width: 20%;
 
}

.mid .buttons {
  display: flex;
  justify-content: space-evenly;
}


.right {
  width: 20%;
}

.right ul {
  margin-bottom: 1rem;
}

.right p {
  width: 100%;
  text-align: left;
  padding: 1rem;
  overflow-wrap: break-word;
}

canvas {
  transition: all 1s;
  /*border: 1px solid white;*/
}

li {
  padding: 0.7rem;
  font-size: 0.95rem;
  color: #222;
  transition: all 0.4s;
  user-select: none;
}

.li-clicked {
  background: #222;
  color: white;
}

ul li:hover, 
ul li:focus, 
ul li:active
{
    
    background-color: rgba(34, 34, 34, 0.5);
    color: white;
}

ul {
  
  width: 100%;
  height: 500px;
  list-style: none;
  border: 1px solid white;
  overflow: scroll; 
  background: rgba(255,255,255,0.05);
  box-shadow: 0px 6px 22px 0px rgba(3,6,41,0.3);
  border: none;
  padding: 20px;
}

ul::-webkit-scrollbar { 
  display: none; 
}

.popup {
  
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  display: none;
  text-align: right;
}

.popup h1 {
  height: auto;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #222;
  font-weight: 400;
  text-align: left;
}

.popup input {
  color: #222;
  outline: none;
}

.popup p {
  margin-top: 1rem;
  margin-bottom: 3rem;
  text-align: left;
}

.popup button {
  margin-right: 1rem;
}

.bg-popup {
  padding: 30px;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  color: #444;
  background: white;
  border-radius: 5px;
  display: none;
}

#set, #close-popup {
  display: inline-block;
  color: #222;
  border-color: #222;
}

#set:hover, #close-popup:hover {
  color: white;
  background: #222;
}

#tag {
  width: 100%;
  font-size: 1rem;
  padding: 0.4rem 1rem; 
}

footer {
  height: 130px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-weight: 300;
  font-size: 0.9rem;
}