*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding-top: 30px;
  display: flex;
  background: linear-gradient(to right, rgb(0, 159, 255), rgb(236, 47, 75));
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 181, 224));

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: white;
}

h1, h2 {
  height: 50px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

button {
  display: block;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
  border: 0.1rem solid white;
  margin: 1rem 0;
  border-radius:0.12rem;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:white;
  text-align: center;
  transition: all 0.2s;
  background: transparent;
}

button:hover {
  color: #444;
  background: white
}

#file-list {
  list-style: none;
}

.right {
  margin-left: 100px;
}



.left {
  margin-left: 100px;
}

canvas {
  transition: all 1s;
  border: 3px solid white;
}

li {
  padding: 0.7rem;
  font-size: 1.6rem;
  color: white;
  transition: all 1s;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.li-clicked {
  background: white;
  color: #444;
}

ul li:hover, 
ul li:focus, 
ul li:active
{
    background: linear-gradient(#fff,#fff);
    background-color: #fff !important; /* for IE */
    color: #444;
}

ul {
  width: 100%;
  max-height: 500px;
  min-height: 500px;
  background: transparent;
  border: 3px solid white;
  
}

ul:focus {
  outline: none;
}

ul::-webkit-scrollbar { 
  display: none; 
}

